
@font-face {
    font-family: SourceSansPro;
    src: url(../fonts/SourceSansPro-Light.otf) format("woff");
}

body
{
    margin:0px;padding:0 0 20px 0;font-size:12px;
    background-color:#F1F1F1;clear: both;
    font-family:SourceSansPro !important;
}

h3:focus
{
    outline: 0;
}

.clearAfter:after
{
    content:"";
    display:block;
    float:none;
    clear:both;
    font-size:0px;
    height:0px;

}

#mainHeader
{
    height:86px;
    margin:0 auto;
    background-color:#ffffff;
}

#mainHeader ul
{
    float: left;
    position: relative;
    top: 20px;
    left: 120px;
}

#mainHeader ul li
{
    list-style:none;
    float:left;
    margin:0 24px 0 0;
    color:#6E6E6E;
    font-size:17px;
    cursor:pointer;
    padding:5px 0 0 0;
}

#mainHeader ul li.selected
{
    font-weight:bold;
    color:#84C31A;
    border-top:solid 5px #84C31A;
    bottom: 3px;
    position: relative;
}

#mainHeader section
{
    width:945px;
    margin:0 auto;
}

#mainHeader section .logo
{
    background-image: url("../img/logo.png");
    background-repeat:no-repeat;
    height:29px;
    width:77px;
    float:left;
    position:relative;
    top:26px;
}
::-webkit-input-placeholder { font-style: italic; }
::-moz-placeholder {  font-style: italic; } /* firefox 19+ */
:-ms-input-placeholder {  font-style: italic; } /* ie */
input:-moz-placeholder {  font-style: italic; }

#mainHeader .login{
    float: right;
    margin: -39px 13px 0px 0px;
    line-height: 6px;
}

#mainHeader .login p{
    font-weight: bold;
}

#mainHeader .login a{
    color: #A3CE5A;
    text-decoration: underline;
    cursor:pointer;
    float:right;
}

#mainHeader .login a:nth-of-type(2){
    margin: 0px 5px 0px 35px;
    border-right: 1px solid #DEDEDE;
    padding-right: 7px;
}

#mainHeader .search{

    margin: 3px 0px 0px 130px;float: left;
}
#mainHeader .search input[type=text]{
    margin: 30px 45px 0px 0px;
    width: 176px;
    height: 25px;
    border-radius: 30px;
    border: 1px solid #C2C2C2;
    outline: none;
    padding-left: 10px;
    background-color: #ededed;
    color: #6E6E6E;

}

.headerSep
{
    background-image: url("../img/headerSepDot.png");
    background-repeat: repeat-x;
    height:1px;
}

.headerMidStyle
{
    background-image: url("../img/headerBottomLine_Small.png");
    background-repeat:no-repeat;
    height:30px;
    width:990px;
    margin: auto;
    position:absolute;
    top: 86px;
    left: 0;
    right:0;
    
}

#mainContainer
{
    width:955px;
    margin:0 auto;
    position:relative;
    margin-top:34px;
    height:845px;
}

#leftSection
{
    float:left;
    width:200px;
}

#notificationSection
{
    
}

.longLine
{
    float:left;
    background-image: url("../img/lineDot.png");
    background-repeat:repeat-y;
    width:1px;
    height:100%;
    margin:0 18px;
}

.normalLine
{
    float:left;
    background-image: url("../img/lineDot.png");
    background-repeat:repeat-y;
    width:1px;
    height:390px;
    margin:0 18px;
}

.smallLine
{
    float:left;
    background-image: url("../img/lineDot.png");
    background-repeat:repeat-y;
    width:1px;
    height:20px;
    margin:0 12px;
}

#notificationSection header
{
    background-image: url("../img/notificationsTitle.png");
    background-repeat:no-repeat;
    height:30px;
    width:200px;
}

.notificationItem
{
    margin:15px 0 0 7px;
    cursor:pointer;
}

.notificationItem .info:before
{
    content: url("../img/infoIcon.png");
    position:relative; /*or absolute*/
    left:-5px;
    top:7px;
}

.notificationItem .warning:before
{
    content: url("../img/warningIcon.png");
    position:relative; /*or absolute*/
    left:-5px;
    top:7px;
}

.notificationItemTitle
{
    font-size:17px;
    color:#484848;

}

.notificationItemContent
{
    font-size:15px;
    color:#757575;
    margin:10px 0 0 0;
    width:185px;
}

#taskSection
{
    margin:28px 0 0 0;
}

#taskSection header
{
    background-image: url("../img/taskTitle.png");
    background-repeat:no-repeat;
    height:30px;
    width:200px;
}

.taskContainer{
    width:192px;
    min-height: 20px;
    display: block;
    margin: 10px 0px 0px -5px;
}

.taskItem {
    margin: 15px 0 0 7px;
}

.taskItem .grayBullet {
    content: url("../img/grayBullet.png");
}

.taskItem .orengeBullet {
    content: url("../img/orangeBullet.png");
}

.taskItem .greenBullet {
    content: url("../img/greenBullet.png");
}

.taskItem li{
    list-style: none;
}

.taskItem .taskItemBullet{
    width:20px;
    height:20px;
    display: inline-block;
    float:left;
}



.taskItemContent {
    font-size: 14px;
    color: #757575;
    float: left;
    width: 167px;
    cursor: pointer;
    min-height: 20px;
    margin: 0px 0px 0px 5px;
}

#rightSection
{
    float: left;
    width: 696px;
}

#followSection
{
    float:left;
}

.follow-list-circle{
    width: 30px;
    height: 30px;
    top: 45px;
    left: 75px;
    position: relative;
    z-index: 101;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
    font-weight: bold;
    font-size: 11px;
}

.followItem-description{
    position: relative;
    top: 50px;
    z-index: 112;
    text-align: center;
}

.followItem-name{
    font-weight: bold;
    font-size: 12px;
}

.followItem-id{
    font-size: 10px;
    color:#A8A8A8;
}

#followSection header {
    width:377px;
}

.followTitle
{
    background-image: url("../img/followTitle.png");
    background-repeat:no-repeat;
    height:23px;
    width:111px;
    float:left;
    margin-right: 20px;
}

.updateTitle
{
    background-image: url("../img/updateTitle.png");
    background-repeat:no-repeat;
    height:30px;
    width:90px;
    float:left;

}

.addIcon
{
    background-image: url("../img/plusIcon.png");
    background-repeat:no-repeat;
    height:24px;
    width:26px;
    float:right;
    cursor:pointer;
}
.follow-list-sort{
    float: left;
    border-right: 1px solid #A8A8A8;
    padding-right: 10px;
    margin: 5px 10px 0px 0px;
    color: #A8A8A8;
    font-size: 13px;
    cursor: pointer;
}
.follow-list-sort:nth-of-type(4){
    border-right: 0px solid;
}

#followSection .selectedTab{
    color:#000000;
}

#followList
{
    margin:22px 0 0 0;
    width:378px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.19);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.19);
}

#peopleList
{
    margin:22px 0 0 0;
    width:378px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.19);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.19);
}

.followItem
{
    width:124px;
    height: 111px;
    background-color: #ffffff;
    position:relative;
    float:left;
    margin:2px 2px 0 0;
    cursor:pointer;
}

.followItem .peopleImage{
    width: 124px;
    height: 111px;
    position: absolute;
    top: 0px;
    z-index: 100;
}

.followItem .maskImage{
    width: 124px;
    height: 111px;
    position: absolute;
    top: 0;
    z-index: 100;
}

.openCaseTitle
{
    background-image: url("../img/openCaseTitle.png");
    background-repeat:no-repeat;
    height:29px;
    width:123px;
    float:left;
}

.ui-accordion .ui-accordion-content{
    padding: 1em 1.2em;
}

.ui-accordion-content{
    background-image: url("../img/Open_cases_Gradient-08.png");
    background-position: -57px;
}

.ui-accordion-content > div span:first-child{
    float:left;
}

.ui-accordion-content > div > span:nth-child(2){
    float:right;
}

.ui-accordion-content .title{
    color:lightgray;
    font-size: 11px;
}
.ui-accordion-content .data-content{
    color:#000000;
    font-size: 11px;
}

.ui-accordion-content .data-underline{
    color:#85a72f;
    text-decoration: underline;

}
.ui-accordion-content .title-margin{
    margin:20px 0px 0px 0px;
}

#accordionSection
{
    width:275px;
    float:right;
}

.down-arrow{
    background-image: url("../img/Down_Arror_icon.png");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 6px 3px;
}

#accordion
{
    margin:22px 0 0 0;
    height:312px;
}

.accordion-circle{
    width:30px;
    height:30px;
    margin: 5px 0px 0px -20px;
    float: left;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
    font-weight: bold;
    font-size: 10px;
}
.blue-circle{
    background-image: url("../img/Blue_circle_barak.png");
    background-size: 30px 30px;
    background-position: -120px;
}
.orange-circle{
    background-image: url("../img/Orange_circle_barak.png");
    background-size: 30px 30px;
    background-position: -120px;
}
.red_circle{
    background-image: url("../img/Red_circle_barak.png");
    background-size: 30px 30px;
    background-position: -120px;
}
.accordion-description{
    float: left;
    line-height: 16px;
    margin: 5px 0px 0px 10px;
}
.accordion-name{
    font-weight: bold;
    font-size: 12px;
}
.accordion-id{
    font-size: 10px;
    color:#A8A8A8;
}

.accordion-table{

}

.accordion-table .table-title{
    color: #A8A8A8;
    line-height: 5px;
    font-size: 12px;
}

.accordion-table tr td:nth-of-type(1){
    width:300px;
}

.arrow{
    width:30px;
    height:14px;
    float: right;
    margin: 12px 15px 0px 0px;
}
.up-arrow{
    background-image: url("../img/Up_Arrow_icon.png");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 6px 3px;
}
.down-arrow{
    background-image: url("../img/Down_Arror_icon.png");
}

.dots{
    background-image: url("../img/New_Dots_border_06.png");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

#accordion p
{
    padding-bottom:10px;
    overflow:scroll-y;
}

#bottomPart
{
    margin:45px 0 0 0;
}

.updatetabsList
{
    float:left;
    margin:8px 0 0 20px;
}

.updatetabsList .updateTab
{
    float:left;
    font-size:15px;
    color:#A8A8A8;
    cursor:pointer;
}


.updatetabsList .updateTab.selectedTab
{
    color:#000000;

}

#updatesContainer
{
    width:697px;
    height:380px;
    border:solid 1px #E1E1E1;
    overflow:hidden;
}

#updateItemlist
{
    margin:10px auto;
    width:670px;
    height: 402px;
    background-image: url("../img/Updates.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 670px 402px;
}

#updatesContainer .updateItem
{
    width:212px;
    height:277px;
    float:left;
    margin:2px;
    border:solid 1px #E1E1E1;
    background-color:#ffffff;
    cursor:pointer;
}












/* ===== INVESTIGATION START ====== */

.investigationAccordion
{
    width:238px;
}

.investigationAccordion #leftSection
{
    width:240px;
    margin:0 25px 0 0;
}

.investigationAccordion #rightSection
{
    width:686px;
    margin:10px 0 0 0 ;
}

.investigationAccordion .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active
{
    border-top:none;
    border-right:none;
    border-left:none;
    background:none;
}

.investigationAccordion .accordion-description
{
    color:#9D9D9D;
    font-size:20px;
    line-height:30px;
}

.investigationAccordion #accordion
{
    margin:0px;
}


.investigationAccordion .ui-widget-content
{
    border:none;
}

.investigationAccordion .ui-accordion-content
{
    background:none;
    background-color:#ffffff;
}

.investigationAccordion .ui-accordion .ui-accordion-icons
{
    padding-left: 0.2em;
}

.investigationAccordion .ui-state-active
{
    margin-bottom:3px;
    border-bottom:solid 1px #BDBDBD;
}

.investigationAccordion #peopleList
{
    width:240px;
    overflow:hidden;
    margin:0px;
    background-color:#E7E7E7;
}

.investigationAccordion .followItem .peopleImage
{
}

.investigationAccordion .followItem, .investigationAccordion .followItem .maskImage, .investigationAccordion .followItem .peopleImage
{
    width:117px;
    margin:1px 1px 0 1px;
    
}

.investigationAccordion .ui-accordion .ui-accordion-content
{
    width:240px;
    padding:0px;
    border:solid 1px #E7E7E7;
}


.investigationAccordion .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
    background-color:transparent;
}


#investigationContent
{
    width:1145px;height:715px;
    position:relative;
}

#investigationContent .personDataMainLayout
{
    min-width:400px;
    width: -moz-max-content;
    width: -webkit-max-content;
    height:530px;
    position:absolute;
    top:30px;
    left:30px;
    border:solid 1px #D1D1D1;
    background-color: #ffffff;
    z-index:9999;
}

#investigationContent .personDataMainLayout .followItem
{
    left:0px;
    float:none;
    border-bottom:solid 1px #E9E9E9;
    height:160px;
}

#investigationContent .personDataMainLayout .LeftSide
{
    height: 100%;
    /*width: 120px;*/
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;

    border-right:solid 1px #E9E9E9;
    float:left;
}

#investigationContent .personDataMainLayout .mainLayoutTabs
{
    padding:0px;margin:0px;
}

#investigationContent .personDataMainLayout .mainLayoutTabs li
{
    list-style:none;
    width:105px;
    height:45px;
    border-bottom:solid 1px #E9E9E9;
    margin:0px;padding:0px;
    padding:0 0 0 15px;
    line-height:45px;
    color:#A5A5A5;
    cursor:pointer;
    font-size:15px;
}

#investigationContent .personDataMainLayout .mainLayoutTabs li.selected
{
    color:#ffffff;
    background-color:#A0CF4F;
}

#investigationContent .personDataMainLayout .zoomIcon{
    background-image: url("../img/zoomIcon.png");
    width:19px;
    height:22px;
    float:left;
    margin:14px 0 0 11px;
    cursor:pointer;
}
#investigationContent .personDataMainLayout .smallAddIcon{
    background-image: url("../img/smallAddIcon.png");
    width:19px;
    height:20px;
    float:right;
    margin:14px 11px 0 0;
    cursor:pointer;
}

.minIcon
{
    background-image: url("../img/userEntityMinIcon.png");
    background-repeat:no-repeat;
    width:11px;
    height:11px;
    float:right;
    cursor:pointer;
    margin:15px 10px 0 0;
}

.sepIcon
{
    background-image: url("../img/userEntityCloseMinSep.png");
    background-repeat:no-repeat;
    width:1px;
    height:15px;
    float:right;
    margin:8px 0 0;
}

.closeIcon
{
    background-image: url("../img/userEntityCloseIcon.png");
    background-repeat:no-repeat;
    width:19px;
    height:20px;
    float:right;
    cursor:pointer;
    margin:10px 0 0 10px;
}

#investigationContent .personDataMainLayout .rightSide{
    float:left;
    width: -moz-max-content;
    width: -webkit-max-content;
    height: 100%;
    position:relative;
}

#investigationContent .renderPersonIDContent
{
    left:0px;
}

#investigationContent .renderPersonLinksContent
{
    top:540px;
}

#investigationContent .renderPersonGISContent
{
    left:410px;
}


#idSection{
    margin: 30px 0px 0px 30px;
}
#idSection span{
    font-size: 24px;
    color:#7C7C7C;
}
#idSection .small-line{
    margin: 0 5px 0;
}
#idSection table{
    margin:20px 0 0 0;
    width:249px;
}

.table-title{
    font-size: 14px;
    color: #848484;
    font-weight: bold;
}

.table-data{
    font-size: 17px;
}

#idSection table tr:nth-child(2n){
    height: 43px;
    vertical-align: top;
}

#idSection table tr td:first-child{
    width:137px;
}


#idSection hr{
    border-top: 2px dotted #848484;
    margin:20px 0 0 0;
}

#idSection #affilliation{
    float:left;
    width:145px;
    height:80px;
    margin:10px 0 0 0;
}
#idSection #rolePosition{
    float:left;
    width:100px;
    height:80px;
    margin:10px 0 0 0;
}

#affilliation div:first-child, #rolePosition div:first-child{
    margin:0px 0px 3px 0px
}

#affilliation .data-underline{
    color:#85a72f;
    text-decoration: underline;
    font-size: 13px;
    cursor:pointer;
}

.topRightToolBar{
    position:absolute;
    top:0px;
    right:5px;

}

#GISSection{
    background-image: url("../img/gis_1.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 532px 412px;
    width: 532px;
    height: 412px;
}

.GISSection_2{
    background-image: url("../img/gis_2.png")!important;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 532px 412px;
    width: 532px;
    height: 412px;
}

.GISSection_3{
    background-image: url("../img/gis_3.png")!important;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 532px 412px;
    width: 532px;
    height: 412px;
}

.GISSectionNight{
    background-image: url("../img/GISNight.png")!important;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 532px 412px;
    width: 532px;
    height: 412px;
}

.personDataMainLayout .top-nav-GIS{
    height:35px;
}

.personDataMainLayout .top-nav-RiskFactors{
    margin: 0px 0px 0px 230px;
}

.personDataMainLayout .top-nav-LINKS{
    margin: 0px 0px 0px 130px;
    height:30px;
}

.personDataMainLayout .top-nav ul{
    position: absolute;
    right: 55px;
    top: -5px;
}

.personDataMainLayout .top-nav li{
    list-style:none;
    float:left;
    margin: 0px 19px 0px 0px;
    cursor: pointer;
}


.personDataMainLayout .top-nav .selected{
    font-weight:bold;
    color:#84C31A;
    border-top:solid 5px #84C31A;
    bottom: 6px;
    position: relative;
}

.personDataMainLayout .bottom-nav
{
    position:absolute;
    bottom:0px;
    border-top:solid 1px #E9E9E9;
    width:100%;
    height:46px;
    line-height:36px;

}

.personDataMainLayout .bottom-nav li{
    list-style:none;
    float:left;
    margin: 0px 0px 0px 0px;
    border-right: 1px solid lightgray;
    color:#85a72f;
    padding: 5px 10px 5px 10px;
    font-size: 18px;
}
.personDataMainLayout .bottom-nav ul{
    margin :0px 0px 0px -40px;
}

#linksSection{
    background-image: url("../img/Link.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 532px 412px;
    width: 532px;
    height: 412px;
}

.links_2{
    background-image: url("../img/Link2.png")!important;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 532px 412px;
    width: 532px;
    height: 412px;
}

.id-section-line-dot{
    background-image: url("../img/lineDot.png");
    background-repeat: repeat-x;
    width:220px;
    height:5px;
    margin:25px 0px 0px 0px
}

.timeLine_1
{
    background-image: url("../img/timeLine_1.jpg");
    background-repeat: no-repeat;
    background-size:686px 63px;
    width:686px;
    height:63px;
    cursor:pointer;
}

.timeLine_2
{
    background-image: url("../img/timeLine_2.png");
    background-repeat: no-repeat;
    background-size:686px 63px;
    width:686px;
    height:63px;
    position:relative;
    cursor:pointer;
}

.timeLine_3
{
    background-image: url("../img/timeLine_3.jpg");
    background-repeat: no-repeat;
    background-size:686px 63px;
    width:686px;
    height:63px;
    cursor:pointer;
}

.showMSGBox
{
    border:solid 1px #000000;
    width: 270px;
    height: 350px;
    background-image:url("../img/TextMessages.png");
    position: absolute;
    top: 52px;
    right: 36px;
    display:none;
    z-index:10000;
}

#rangeDateTime
{
    position: relative;
    top: 6px;
    left: 5px;
    width:230px;
}

#rangeDateTime input[type="text"]
{
    width:66px;
}

.btnDateRangeDone
{
    border:solid 1px gray;
    border-radius:3px;
    width:30px;
    text-align:center;
    position:absolute;
    top: 4px;
    left: 190px;
    cursor:pointer;
}

#riskFactores
{
    background-image: url("../img/timeLine_3.jpg");
    background-repeat: no-repeat;
    background-size:686px 63px;
    width:686px;
    height:63px;
    cursor:pointer;
}

#gisCase
{
    height:125px;
}
/* ===== INVESTIGATION END ====== */